sudo: false
language: java
jdk:
- oraclejdk8

before_cache:
- rm -f  $HOME/.gradle/caches/modules-2/modules-2.lock
- rm -fr $HOME/.gradle/caches/*/plugin-resolution/
- rm -fr $HOME/.gradle/caches/*/fileHashes/fileHashes.bin
- rm -fr $HOME/.gradle/caches/*/fileHashes/fileHashes.lock

cache:
  directories:
  - $HOME/.gradle/caches/
  - $HOME/.gradle/wrapper/

matrix:
  include:
  - env: IDEA_VERSION="IU-2017.3.5" PHP_PLUGIN_VERSION="173.4674.46" PSI_VIEWER_PLUGIN_VERSION="3.28.93" SINCE_BUILD="173" UNTIL_BUILD="173.*"
  - env: IDEA_VERSION="IU-2018.1.4" PHP_PLUGIN_VERSION="181.5281.35" PSI_VIEWER_PLUGIN_VERSION="2018.1.2" SINCE_BUILD="181" UNTIL_BUILD="181.*"
  - env: IDEA_VERSION="IU-182.3341.11" PHP_PLUGIN_VERSION="182.3341.34" PSI_VIEWER_PLUGIN_VERSION="182.2757.2" SINCE_BUILD="182" UNTIL_BUILD="182.*"
  allow_failures:
  - env: IDEA_VERSION="IU-182.3341.11" PHP_PLUGIN_VERSION="182.3341.34" PSI_VIEWER_PLUGIN_VERSION=182.2757.2 SINCE_BUILD="182" UNTIL_BUILD="182.*"

before_install:
- "export ORG_GRADLE_PROJECT_ideaVersion=${IDEA_VERSION}"
- "export ORG_GRADLE_PROJECT_ideaType=${IDEA_TYPE}"
- "export ORG_GRADLE_PROJECT_phpPluginVersion=${PHP_PLUGIN_VERSION}"
- "export ORG_GRADLE_PROJECT_psiViewerPluginVersion=${PSI_VIEWER_PLUGIN_VERSION}"
- "export ORG_GRADLE_PROJECT_customSinceBuild=${SINCE_BUILD}"
- "export ORG_GRADLE_PROJECT_customUntilBuild=${UNTIL_BUILD}"
- java -version

script:
- "./gradlew check"
- "./gradlew buildPlugin"

deploy:
  provider: releases
  api_key: "${GITHUB_KEY}"
  file:
    - lang-fluid/build/distributions/TYPO3*.zip
    - lang-typoscript/build/distributions/TYPO3*.zip
    - typo3-cms/build/distributions/TYPO3*.zip
  skip_cleanup: true
  file_glob: true
  on:
    tags: true
    condition: "$TRAVIS_TAG =~ ^v[0-9]+.*$"

after_deploy:
- "./gradlew :typo3-cms:publishPlugin"
